<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8"></meta>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"></meta>
  <meta name="description" content=""></meta>
  <meta name="author" content=""></meta>
<link rel="apple-touch-icon" sizes="57x57" href="img/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="img/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="img/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="img/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="img/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="img/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="img/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="img/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="img/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="img/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="img/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png">
<link rel="manifest" href="img/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="img/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">

  <title>Caleb and Maria's Wedding</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"></link>

  <!-- Custom styles for this template -->
  <link href="css/countdown.css" rel="stylesheet"></link>
  <!-- Custom styles for this template -->
  <link href="css/rsvp.css" rel="stylesheet"></link>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/jquery-validation/jquery.validate.min.js"></script>
  <script src="vendor/jquery-validation/additional-methods.min.js"></script>
  <script src="vendor/lodash/lodash.min.js"></script>
  <script src="vendor/jquery.countdown/jquery.countdown.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="js/rsvp.js"></script>
</head>

<body>

 <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="index.html">Caleb and Maria's Wedding</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Home
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="rsvp.html">RSVP</a>
                        <span class="sr-only">(current)</span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="registry.html">Registry</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contact.html">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <section class="py-5 mt-3">
        <div id="rsvp-form-container" class="container">
            <div class="row">
                <div class="col-12">
                  <div class="flip-clock">
                    <span id="deadline">RSVP Deadline: June 1, 2019</span><br/>
                    <div class="countdown-container" id="flip-clock"></div>
                  </div>
                  <script type="text/template" id="flip-clock-template">
                    <div class="time <%= label %>">
                      <span class="count curr top"><%= curr %></span>
                      <span class="count next top"><%= next %></span>
                      <span class="count next bottom"><%= next %></span>
                      <span class="count curr bottom"><%= curr %></span>
                      <span class="label"><%= label.length < 6 ? label : label.substr(0, 3)  %></span>
                    </div>
                  </script>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <form id="rsvp-form" action="cgi/rsvp-submit.php" method="post">
                        <div class="form-group">
                            <label for="name">Name:</label>
                            <input type="text" class="form-control" name="name" id="name" placeholder="The Example Family"></input>
                        </div>
                        <div class="form-group">
                            <label for="attending">Attending</label>
                            <select class="form-control" name="attending" id="attending">
                                <option value="true">Yes</option>
                                <option value="false" selected="selected">No</option>
                            </select>
                        </div>
                        <div class="form-group addl-fields">
                            <label for="email" class="control-label">Email address:</label>
                            <input type="email" class="form-control" name="email" id="email" placeholder="example@example.email"></input>
                        </div>
                        <div class="form-group addl-fields">
                            <label for="phone">Phone Number:</label>
                            <input type="phone" class="form-control" name="phone" id="phone" placeholder="+1(999)999-9999"></input>
                        </div>
                        <div class="form-group addl-fields">
                            <label for="attendees">Attendees (include yourself):</label>
                            <input type="number" class="form-control" name="attendees" min="1" max="5" step="1" value="1"></input>
                        </div>
                        <div class="form-group">
                          <img src="" id='captchaimg'><br>
                          <label for='captcha'>Enter the code above here :</label>
                          <br>
                          <input type="text" class="form-control" id="captcha_code" name="captcha_code"></input>
                          <br>
                          Can't read the image? click <a href='javascript: refreshCaptcha();'>here</a> to refresh.
                        </div>
                        <button type="submit" class="btn btn-success">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        <div id="rsvp-submitted-container" class="container">
          <div class="row">
            <div class="col-12">
              <h2>Thank you for submitting your RSVP!</h2>
            </div>
          </div>
        </div>
        <div id="rsvp-error-container" class="container">
          <div class="row">
            <div class="col-12">
              <h2>There was a problem processing your RSVP</h2>
              <p>Please try again later</p>
            </div>
          </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; The Eubanks Family 2019</p>
    </div>
    <!-- /.container -->
    </footer>

</body>

</html>
